*{
    font-family: "Microsoft YaHei";
    line-height: 1rem;
}
body{
    background-color: #FFFFFF;
    padding-top: 2.75rem;
}
.header-box{
    background-color: #3BA15C;
    padding: 0;
}
.header{
    width: 100%;
    height: 100%;
    position: relative;
}
.back{
    padding-right: 1rem;
    padding-left: 0.625rem;
    margin-top: 0.75rem;
}
.back img{
    width:auto;
    height: 1.25rem;
}
#search{
    border: none;
    height: 1.75rem;
}
.search-box{
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 1.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
}
.search-img{
    height:1.75rem;
    line-height: 1.75rem;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding-left: 2rem;
}
.search-img>img{
    width: 1.25rem;
    height: 1.25rem;
}
.header-right{
    padding-left: 1rem;
    padding-right: 0.625rem;
    margin-top: 0.75rem;
    position: relative;
}
.header-right>img{
    width:auto;
    height: 1.25rem
}
.item-img{
    height: 5rem;
    width: 5rem;
    border-radius: 0.2rem;
    border: 1px solid #CCCCCC;
}
.item-img>img{
    width: 100%;
    height: 100%;
}
.list-item{
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}
.item-title{
    margin-left: 0.5rem;
    color: #000000;
    line-height: 1.5rem;
    padding-right: 5rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.item-sub{
    margin-left:0.5rem ;
    margin-top: 0.2rem;
    color: #666666;
    font-size: 0.9rem;
}
.item-time{
    margin-left: 0.5rem;
    color: #666666;
    margin-top: 0.3rem;
    font-size: 0.9rem;
}
.item-dis{
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    padding-left: 1.1rem;
    background:url("../images/dis.png") no-repeat left center ;
    background-size: auto 0.9rem;
    color: #666666;
    font-size: 0.9rem;
}
.sp{
    border-bottom: 1px solid #CCCCCC;
    padding: 1rem;
}
.arrow{
    width: 2rem;
    background: url("../images/arrow.png") no-repeat center;
    background-size: auto 0.8rem;
}