*{
    font-family: "Microsoft YaHei";
}
body{
    padding-top: 2.75rem;
    background-color: white;
}
.header-box{
    background-color: #0eb7ed;
    padding: 0;
}
.header{
    width: 100%;
    height: 100%;
    position: relative;
}
.back{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.75rem;
    position: absolute;
    z-index: 100;
}
.back img{
    width:auto;
    height: 1.25rem;
}
.title{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    line-height: 2.75rem;
    color: #FFFFFF;
}
/*=============ÊÐ³¡Í·===================*/
.search-box{
    padding-left: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid #CCCCCC;
}
.search-img{
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #0eb7ed;
    padding-left:1rem;
    padding-right:1rem;
    color: white;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
}
.item-img{
    height: 5rem;
    width: 5rem;
    border-radius: 0.2rem;
    border: 1px solid #CCCCCC;
}
.item-img>img{
    width: 100%;
    height: 100%;
}
.list-item{
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}
.item-title{
    margin-left: 0.5rem;
    padding-right: 1rem;
    color: #000000;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.item-bottom{
    margin-left: 0.5rem;
    color: #666666;
    margin-top: 0.3rem;
    font-size: 0.9rem;
}
.item-price{
    color: #0eb7ed;
    font-weight: 600;
}
.list-title{
    background-color: white;
}
.list-item>div:first-child{
    padding: 1rem;
}
.no-data{
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    border-bottom: 1px solid #CCCCCC;
}

.lists-box{
    width: 100%;
    height: 100%;
}
#list{
    overflow: auto;
}

