.shaixuan{
    padding-left: 1rem;
    padding-right: 0.625rem;
    margin-top: 0.75rem;
    position: relative;
}
.shaixuan>img{
    width:auto;
    height: 1.25rem
}
.shaixuan-down{
    background-image: url("../../../hospital/hos_index/image/bg_shuaixuan.png");
    background-size: auto 0.5rem;
    background-repeat: no-repeat;
    background-position: 1.2rem bottom;
}
.item {
    padding: 0.5rem 0;
    color: #333333;
    line-height: 1.5rem;
    background-color: #ffffff;
    border-bottom: 1px solid #CCCCCC;
    width:100%;
}
.mdui-box {
    display: -webkit-box;
}
.item>div {
      border-right: .1rem solid #CCCCCC;
      width:50%;
      text-align: center;
      position: relative;
  }
.item-nears {
    border-right: .1rem solid #CCCCCC;
    width:25% !important;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    position: relative;
}



