.mdui-indexed-list {
	position: relative;
	border-top: solid 0.0625rem #e3e3e3;
	border-bottom: solid 0.0625rem #e3e3e3;
	overflow: hidden;
	background-color: #fafafa;
	height: 18.75rem;
	cursor: default;

}
.mdui-indexed-list-inner {
	margin: 0;
	padding: 0;
	overflow-y: auto;
	border: none;
}
.mdui-indexed-list-inner::-webkit-scrollbar {
	width: 0;
	height: 0;
	visibility: hidden;
}
.mdui-indexed-list-empty-alert,
.mdui-indexed-list-inner.empty ul {
	display: none;
}
.mdui-indexed-list-inner.empty .mdui-indexed-list-empty-alert {
	display: block;
}
.mdui-indexed-list-empty-alert {
	padding: 1.875rem 0.9375rem;
	text-align: center;
	color: #ccc;
	padding-right: 2.8125rem;
}
.mdui-ios .mdui-indexed-list-inner {
	width: calc(100% + 0.625rem);
}
.mdui-indexed-list-group,
.mdui-indexed-list-item {
	padding-right: 2.8125rem;
}
.mdui-ios .mdui-indexed-list-group,
.mdui-ios .mdui-indexed-list-item,
.mdui-ios .mdui-indexed-list-empty-alert {
	padding-right: 3.4375rem;
}
.mdui-indexed-list-group {
	background-color: #f7f7f7;
}
.mdui-indexed-list-group {
	padding-top: 0.1875rem;
	padding-bottom: 0.1875rem;
}
.mdui-indexed-list-search {
	border-bottom: solid 0.0625rem #e3e3e3;
	z-index: 15;
}
.mdui-indexed-list-search.mdui-search:before {
	margin-top: -0.625rem;
}
.mdui-indexed-list-search input {
	border-radius: 0;
	margin: 0;
	background-color: #fafafa;
}
.mdui-indexed-list-bar {
	width: 1.4375rem;
	background-color: lightgrey;
	position: absolute;
	height: 100%;
	z-index: 10;
	right: 0;
	-webkit-transition: .2s;
}
.mdui-indexed-list-bar a {
	display: block;
	text-align: center;
	font-size: 0.6875rem;
	padding: 0;
	margin: 0;
	line-height: 0.9375rem;
	color: #aaa;
}
.mdui-indexed-list-bar.active {
	background-color: rgb(200,200,200);
}
.mdui-indexed-list-bar.active a {
	color: #333;
}
.mdui-indexed-list-bar.active a.active {
	color: #007aff;
}
.mdui-indexed-list-alert {
	position: absolute;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.5);
	width: 5rem;
	height: 5rem;
	left: 50%;
	top: 50%;
	margin-left: -2.5rem;
	margin-top: -2.5rem;
	border-radius: 2.5rem;
	text-align: center;
	line-height: 5rem;
	font-size: 2.1875rem;
	color: #fff;
	display: none;
	-webkit-transition: .2s;
}
.mdui-indexed-list-alert.active {
	display: block;
}